{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
Log in
{% endblock %}

{% block content %}

<div class='container'>
	<br>
	<h1 class='product_title text-center'>
		Log in or create account
	</h1>
	<div class='row'>
		<div class='col-12 col-sm-12 col-lg-6 text-center custom_div'>
			<br>
			<h2 class='product_title'>
				new user
			</h2>
			<br>
			<a href="{% url 'signup' %}" class="btn btn-secondary">Create new user</a>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
			<div>
				<br>
				<h2 class="product_title">
					registered users only					
				</h2>
				<form method="post">
					{% csrf_token %}
					<p>{{  form | crispy }}</p>
					<button type="submit" class="btn btn-secondary">Log in</button>
					
				</form>
					
			</div>
			
		</div>
	</div>
	<br>

	
</div>
<br>

{% endblock %}